@model HomePageViewModel
<div class="module-main-page module-media">
    <div class="container">
        <div class="cil-md-12">
            <div class="row">
                <div class="col-md-4">
                    @if (Model.PressModuleIndex.ModulePhoto != null)
                    {
                        string _img = Model.PressModuleIndex.ModulePhoto.Photo;
                        <div class="module-media_item module-media">
                            <p class="module-title">Фото<span class="ti-folder"></span><a class="link-to-archive" href="/press/photo">Архив</a></p>
                            <a href="/press/@Model.PressModuleIndex.ModulePhoto.Date.Year/@Model.PressModuleIndex.ModulePhoto.Date.Month/@Model.PressModuleIndex.ModulePhoto.Date.Day/@Model.PressModuleIndex.ModulePhoto.Alias" class="media_item_link" style="background-image:url(@_img);">

                                <div class="media_item_info">
                                    <div class="media_item_circle media_item_circle__photo">
                                        <span class="ico"></span>
                                    </div>
                                    <div class="media_item_title">@Model.PressModuleIndex.ModulePhoto.Title</div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
                <div class="col-md-4">
                    @if (Model.PressModuleIndex.ModuleVideo != null)
                    {
                        string _img = Model.PressModuleIndex.ModuleVideo.Photo;
                        <div class="module-media_item module-media">
                            <p class="module-title">Видео<span class="ti-folder"></span><a class="link-to-archive" href="/press/video">Архив</a></p>
                            <a href="/press/@Model.PressModuleIndex.ModuleVideo.Date.Year/@Model.PressModuleIndex.ModuleVideo.Date.Month/@Model.PressModuleIndex.ModuleVideo.Date.Day/@Model.PressModuleIndex.ModuleVideo.Alias" class="media_item_link" style="background-image:url(@_img);">
                                <div class="media_item_info">
                                    <div class="media_item_circle media_item_circle__video">
                                        <span class="ico"></span>
                                    </div>
                                    <div class="media_item_title">@Model.PressModuleIndex.ModuleVideo.Title</div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
                <div class="col-md-4">
                    <div class="media_link">
                        <div class="media_link_item media_link-present">
                            <img src="~/Content/img/present-ico.png" />
                            <span>Презентации о медицине</span>
                            <a href="/presentations" class="btn btn-primary btn-round btn_play">Смотреть</a>
                        </div>
                        <a class="media_link_item media_link-yotube" href="https://www.youtube.com/channel/UCjpuskOiIp7Ns8CY2bobP0g" target="_blank">
                            <img src="~/Content/img/youtube-ico.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>