.news-block {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
	border-radius: 0px;
	-webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.18);
	-moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.18);
	box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.18);
	font-size: 15px;
}

.date{
	font-size: 16px;
	color: #999;
}

.news-block a {
	text-decoration: none;
	color: black;
}

.news-block h3{
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

.news-block img{
	margin-bottom: 15px;
}

.news-block .text{
	margin-bottom: 30px;
	margin-top: 30px;
	height: 125px;
	overflow: hidden;
}

.btn-gray-blue {
	color: #999;
	background-color: #FFF;
	border-width: 1px;
	border-color: #E6E6E6;
}

.btn-gray-blue:hover{
	color: #0072C6;
}

/* для генерции css для salvattore*/
#grid[data-columns]::before {
    content: '3 .col-xs-4';
}

.news-list, .article-block{
	margin-bottom: 200px;
}


.choose-header-module {
	margin-top: 20px;
	font-size: 18px;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.choose-header-module .left{
	height: 70px;
}

.choose-header-module .number {
	color: #0072C6;

}

.choose-header-module .btn-choose {
	border-radius: 2px;
	border-width: 1px;
	border-color: #E6E6E6;
	background-color: #F7FAFC;
	border-style: solid;
}

.dotted-underline {
	border-bottom: 1px blue dotted;
	border-color: #0072C6;
	color: #000;
}

.dotted-underline:hover{
	text-decoration: none;
	color: #000;
}


.article-block{
	margin-top: 20px;
	padding-top: 30px;
	padding-left: 65px;
	padding-right: 60px;
	padding-bottom: 30px;
	border-radius: 0px;

}

.article-block .text {
	margin-top: 40px;
}
.article-block .text img{ 
	width: auto;
	height:auto;
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	font-size: 18px;

}