a{color:inherit;}
a:hover{color:inherit;}
.nav a:hover{color:#fff!important;background-color:#333!important;}

.head_titel{padding:20px 0;font-size:32px;display:block;}


.sv_settings{    
    padding: 10px;
    min-height: 40px;
    font-size:22px;
    color:#333;
    background: white;
}
.sv_settings *{
    font-weight:bold;
}

.fs-outer button{
 display:inline-block;  
 background:white !important;
 color:black !important; 
 height:35px;
 width:35px;
 padding: 0;
}

.fs-outer .fs-n{    font-size:14px;}
.fs-outer .fs-m{    font-size:18px;}
.fs-outer .fs-l{    font-size:22px;}

.cs-outer button{
display:inline-block;  
height:35px;
width:35px;
padding: 0;
}



.nav li a{border:1px solid;}
.breadcrumb{
    background-color:inherit;
}
.cecu{position:relative;}
a.default-site {
    position: fixed;
    display: block;
    right: 10px;
    bottom: 20px;    
}
.link-list{
    margin:20px 0; 
}
.link_item{display:inline-block;
           width:100%;
           white-space:normal;
           line-height:24px;
           padding-top:20px;
           padding-bottom:20px;
           margin-bottom:15px;
}

.block_item{padding-bottom:10px;}
.block_category{
    border-bottom:1px solid;
    padding-top:10px;
    padding-bottom:30px;
    margin-bottom:20px;
}

.bl_column_4 .item_elem:nth-child(4n+1){clear:both;}

footer {
    border-top: 1px solid;
    padding-top: 30px;
    margin-top: 40px;
}
.top_line {
    border-top: 1px solid;
    margin-top:20px;
    padding-top:20px;
}

.adminlist_img_wr {
    max-width: 70px;
    min-width: 70px;
    display: inline-block;
}
.adminlist_img_wr img{max-width:100%;}

.contact_info_dep{
    margin-bottom:20px;
}
.child_sitemap {
    padding-left:30px;
    margin-bottom:10px;
}
.child_sitemap_link{
    position:relative;
    margin-bottom:10px;
}
.child_sitemap_link:before {
    content: '—';
    position:absolute;
    left:-30px;
}
.tabs{
    margin-bottom:20px;
}

.findus_item{
    padding-bottom:20px;
    margin-bottom:40px;
    border-bottom:1px solid;
}

.child_link{
    margin-bottom:10px;
}
.child_link span{
    padding-right:10px;
}


/* Календарь */
.ui-datepicker {
    margin: 3px 0 0;
    padding: 5px;
    font-size: 14px;
    border: solid 1px #d9d9d9;
    background: #ffffff;
    -webkit-box-shadow:  3px 3px 5px rgba(0,0,0,.1);
    -moz-box-shadow:  3px 3px 5px rgba(0,0,0,.1);
    box-shadow: 3px 3px 5px rgba(0,0,0,.1);
     
    z-index: 999 !important;
}

.ui-datepicker-header {
    overflow: hidden;
    color: #3456af;
}

    .ui-datepicker-header:hover {
        text-decoration: none;
    }

.ui-datepicker-prev,
.ui-datepicker-next {
    display: block;
    width: 24px;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
}

    .ui-datepicker-prev:hover,
    .ui-datepicker-next:hover {
        text-decoration: none;
        color: #3456af;
    }

.ui-datepicker-prev {
    float: left;
}

.ui-datepicker-next {
    float: right;
}

.ui-datepicker-title {
    overflow: hidden;
    padding: 5px 0;
    text-align: center;
}

.ui-datepicker-calendar {
    border-collapse: collapse;
}

    .ui-datepicker-calendar th {
        padding: 6px;
        text-align: center;
        color: #999999;
        font-weight: normal;
    }

    .ui-datepicker-calendar td {
        text-align: center;
        width: 24px;
        padding: 6px;
        border: none;
        color: #212121;
    }

        .ui-datepicker-calendar td a {
            color: #212121;
        }

            .ui-datepicker-calendar td a:hover {
                text-decoration: none;
            }

        .ui-datepicker-calendar td.ui-datepicker-today {
            background: #e6e6e6;
            color: #212121;
        }

        .ui-datepicker-calendar td.ui-datepicker-current-day {
            background: #4d6bbc;
            color: #ffffff;
        }

            .ui-datepicker-calendar td.ui-datepicker-current-day a {
                color: #ffffff;
            }

        .ui-datepicker-calendar td.ui-datepicker-other-month,
        .ui-datepicker-calendar td.ui-datepicker-other-month a {
            color: #e6e6e6;
        }


.item_news{
    margin-bottom:30px;
    padding-bottom:20px;
    border-bottom:1px solid;
}



.adminlist{width:100%;}
.adminlist tr td{padding:36px 0 4px;border-bottom:1px solid;vertical-align:top;min-height:121px;}
.adminlist tr td p{margin-bottom:1px;}


.adminlist_img_td{width: 110px;}
.adminlist_img_wr{margin-right:20px;position:relative;min-height: 80px; display: block;}
.adminlist_name{font-size:18px;font-weight:bold;}
.adminlist_post{font-size: 14px; line-height: 18px;padding-top:3px;}


/*фотогаллерея*/
.gallery__list{    display: inline-block;}
iframe.photo-gallery{display:none;}
.swip_wr{display:inline-block;margin-bottom:15px;margin-right:15px;}
.swip_wr a {  
    background:50% 50% no-repeat;
    background-size:cover;    
    display:block;
    width:130px;height:130px;
}
#swipebox-original{
    display:block;    width:50px;height:50px;position:absolute;
    left:50%;    margin-left:-25px;    top:14px;z-index:999;
    
}
#swipebox-original:before{font-family:fontello;content:'\ea6d';color:#fff;font-size:21px;position:relative;left:14px;}

