.details-table {
	padding-right: 15px;

}

.details-table table .left {
	width: 35%;
}

.details-table table .right{
	width: 65%;
}

.details-table .header-block img {
	margin-bottom: 15px;
	/*margin-top: 15px;*/
}

/*.details-table .header-block {
	background-color: #EDF9FC;
	float: none;
	display: table-cell;
}

*/

.details-table .left-side {
    background-color: #EDF9FC;
    width: 30%;
    min-height: inherit;
    padding-top: 10px;
    padding-left: 20px;
    /*float: none;*/
    float:left;
    /*display: table-cell;*/
}

.details-table .right-side {
	background-color: white;
	width: 70%;
    /*float: none;*/
    /*display: table-cell;*/
    padding-left: 20px;
    float:right;
    min-height: 115px;
    /* padding-right: 0px; */
}

.details-table .table {
	margin-bottom: 10px !important;
}

.details-table .header-block .text-block{
	font-size: 17px;
	font-weight: bold;
	color: #4CC0E2;
}


.details-table .noborder td{
	border-top-width: 0px !important;
}