.send-btn{
	border-color: #ccc;
	border-width: 1px;
}

.send-btn:hover{
	border-color: #adadad;
}

/*Общая панель поиска*/
#search-panel {
	width: 100%;
	background-color: #FFFFFF;
}

/*Убрать расстояни между панелями*/
#search-panel .panel-group{
	margin-bottom: 0px;
}

/*Убрать подчеркивание ссылок*/
#search-panel a {
	text-decoration: none !important;
}

/*Стиль ссылок для "ВИД ОБРАЗОВАТЕЛЬНОГО УЧРЕЖДЕНИЯ"*/
#search-panel .search-block a{
	text-decoration: underline !important;
	color: #262626;
}
#search-panel .search-block a:hover {
	color: #0072C6 !important;
}
#search-panel .search-block a:link {
	color: #262626;	
}

#search-panel .search-block a:visited {
	color: #B3B3B3;
}

/*Кнопки поиска*/
#search-panel .btn{

	background-color: #F7FAFC;
}


/*Стиль для стрелочки в хеадере панели*/
#search-panel .panel-heading .panel-title .fa {
	font-size: 30px;
	color: #BCC7CF;
}

/*Регулеровка загаловка панели*/
#search-panel .panel-heading {
	padding-top: 0px;
}

/*Отсупа загалова панели*/
.search-block, #search-panel .panel-heading .panel-title h3 {
	padding-left: 20px;
	padding-right: 40px;
	font-size: 20px;
}

/*Стиль для заголовка блока поиска*/
.search-block h5{
	font-weight: bold !important;	
	padding-bottom: 10px;
	font-size: 13px;
    text-transform: uppercase;
}
/*Стиль для надписей форм*/
.search-block label{
	font-size: 14px;
}
/*Стиль для скрытых радио*/
.hidden-radio {
	font-size: 13px;
}
/*Стиль кнопок*/
.seach-block button{
	font-size: 14px;
}
/*Стиль желтого треугольника*/
.search-block h5 .fa{
	color: #FED939;
	position: absolute;
	left: 0px;
	top: 14px;
}

/*Хувер для блока поиска*/
#search-panel .list-group-item:hover {
	background-color: #F7F7F7;
}

/*Стиль для Сбросить Фильтр*/
.filter-button {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	width: 100%;
	font-size: 14px;
}