@model DocumentsModel[]

@if (Model != null && Model.Count() > 0)
{
    <div class="attachfile">
        <h2>Прикрепленные файлы</h2>
        <div class="attachfile_list">
            @foreach (var doc in Model)
            {
                if (System.IO.File.Exists(Server.MapPath(doc.FilePath)))
                {
                    string exten = Files.FileAnliz.Extension(doc.FilePath).Replace(".", "");
                    <div class="attachfile_item">
                        <span class="attachfile_item__ext attachfile_item__@exten"></span>
                        <div class="attachfile_item_title">@doc.Title</div>
                        <div class="attachfile_item_info">
                            <a target="_blank" href="@doc.FilePath">Скачать</a>
                            <div> (@exten, &nbsp; @Files.FileAnliz.Size(doc.FilePath))</div>
                        </div>
                    </div>
                }
                else
                {
                    <p>Файл не найден ...</p>
                }
            }
        </div>
    </div>
}
