@model PageViewModel
<ul class="nav nav-pills tabs">
    @foreach (var item in Model.Child)
    {
        string _class = (Model.CurrentPage != null && item.Alias == Model.CurrentPage.Alias) ? "class=active":"";
       

        string _href = "/feedback/";
        _href += item.Alias;
       <li @_class><a href="@_href">@item.Title</a></li>
    }    
</ul>

