@model VoteViewModel
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Голосование</h1>
            @if (Model.List != null)
            {
                foreach (var item in Model.List)
                {
                    <form action="/vote/@item.Id" class="vote_item">

                    </form>
                }
            }
        </div>
   </div>
</div>