@model VoteViewModel
@{
    if (Model.SitesInfo.Alias == "main")
    {
        Layout = "/views/_portal/shared/_layout.cshtml";
    }
}
<div class="type-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("services/breadcrumbs")

                <h1>Голосование</h1>

                @Html.Partial("part/childtabs", Model)

                @if (Model.Item == null)
                {
                    @Html.Partial("List")
                }
                else
                {
                    @Html.Partial("Item")
                }
            </div>
        </div>
    </div>
</div>