@{ 
    Layout = null;
    var category = !string.IsNullOrEmpty(ViewBag.FilterCategory)? ViewBag.FilterCategory + "/" : "";

}
<form role="form" class="filtr_news" action="/@ViewBag.ControllerName/@category">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group search_news">
                <label class="label_filtr" for="search_news">Ключевые слова</label>
                <input type="text" class="filtr_data form-control" name="searchtext" id="search_news" value="@ViewBag.FilterSearchText" />
            </div>
        </div>
        <div class="form-group col-sm-6 col-md-6 data_start_wr">
            <label class="label_filtr" for="data_start">Дата начала</label>
            <div class='input-group date' id="date-begin">
                <input type='text' class="form-control" name="date" data-type="date" data-mask="99.99.9999" placeholder="дд.мм.гггг" value="@ViewBag.FilterDate" />
            </div>
        </div>
        <div class="form-group col-sm-6 col-md-6 date-end_wr">
            <label class="label_filtr" for="data_fin">Дата конца</label>
            <div class='input-group date' id="date-end">
                <input type='text' class="form-control" name="dateend" data-type="date" data-mask="99.99.9999" placeholder="дд.мм.гггг" value="@ViewBag.FilterDateEnd" />
            </div>
        </div>
        <div class="col-sm-12 control-filter">
            <a class="btn btn-default pull-right" href="/@ViewBag.ControllerName">Очистить</a>
            <button class="btn sub btn-primary" type="submit">Применить</button>
        </div>
    </div>
    <br />
</form>