@dark: #45474d;
@def1: #1f4799;
@def2: #3973e6;
@light1: #ccd3e0;
@light2: #ebedf2;
@contrast: #e55639;
@bottom-shadow: 0px 18px 30px -10px rgba(0,0,0,0.75);

.head_title h4 {    
    color: @def1
}

.media-heading{color:@def1;}
.slider-text-block{background-color:@def2;}
.main-menu li > a:hover{color:@def2;}
.seacrh_button:before{color:@def2;}
.top-slider-wrapper{background-color:@light1;}

.slider-message-1 {
    span:before, 
    .slider-message-title {
        color: @def2;
    }    
}
.slider-message-2 {
    span:before,
    .slider-message-title {
        color: @dark;
    }
}
.slider-message-3 {
    span:before,
    .slider-message-title {
        color: @contrast;
    }
}

.module-material-item {
    background-color: @light2;
}

.module-material-item:hover {
    background-color: @def2;
    color: #fff;
}

.module-material-item:hover:after {    border-bottom: 10px solid rgb(31, 71, 153);}
.imglink-benefit-block{background-color:@light2;}

.tabs li a {
    color: @def2;

    &:hover, &:active, &:focus {
        color: @contrast;
    }
}
.tabs li.active a {
    color: @contrast;
    &:before {
        background-color: @contrast;
    }

    &:hover, &:active, &:focus {
        color: @contrast;
    }
}
.btn-primary {
    background-color: @def2;
    &:hover,&:active,&:focus{background-color:@def1;}
}
.module-media{background-color:@def2;}
.media_item_circle__photo {
    background-color:@def2; 
}
.media_item_circle__video{
    color:@def2;
}

.attachfile_item .attachfile_item__ext{
    color:@contrast;
}
.attachfile_item_info {
    background-color: @light2;
}
.sitemap-plate {
    background-color: @light2;
}
.sitemap-plate:hover {
    background-color: @def2;
}
.sitemap-plate:hover:after {
    border-bottom: 10px solid @def1;
}
.bottom-linkimg-item:hover {
    color: @def2;
}
.footer-right li a:hover{color:@def2;}
.media_item_link {
    -webkit-box-shadow: @bottom-shadow;
    -moz-box-shadow: @bottom-shadow;
    box-shadow: @bottom-shadow;
}
.linkimg_item a:hover .imglink-title {
    color: @def2;
}
.seacrh_input:focus + .seacrh_button:hover {
    background-color:@def2;    
}