@dark: #45474d;
@def1: #1f4799;
@def2: #3973e6;
@light1: #ccd3e0;
@light2: #ebedf2;
@contrast: #e55639;


.media-heading{color:@def1;}
.slider-text-block{background-color:@def2;}
.main-menu li > a:hover{color:@def2;}