.breadcrumb {    padding: 10px 0 6px!important;background-color:#fff;}
.breadcrumb>li a {    text-decoration: underline;    font-size: 12px;    color: #4d6bbc;}

.child{border-bottom:1px solid #e6e6e6; padding:0 0 10px; margin:15px 0 20px;}
.child_link{margin-bottom:24px;}
.child span{margin-right:5px;float:left;}
.child a{margin-bottom: 24px;text-decoration:underline;display:block;padding-left:20px;}
.child a:hover{text-decoration:none;}

.news_list .item_news{padding-bottom:22px;margin-bottom:21px;border-bottom:1px solid #e6e6e6; } 
.news_list .news-list_date{padding: 0;}

.news-list_date{font-size:14px;color: #808080;}
.item_news .news-list_date{float:left;margin-right:30px;}
.news-list_title{display:table;color:#333;}


/* Календарь */
.ui-datepicker {
    margin: 3px 0 0;
    padding: 5px;
    font-size: 14px;
    border: solid 1px #d9d9d9;
    background: #ffffff;
    box-shadow: 3px 3px 5px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,.1);
    z-index: 999 !important;
}

.ui-datepicker-header {
    overflow: hidden;
    color: #3456af;
}

    .ui-datepicker-header:hover {
        text-decoration: none;
    }

.ui-datepicker-prev,
.ui-datepicker-next {
    display: block;
    width: 24px;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
}

    .ui-datepicker-prev:hover,
    .ui-datepicker-next:hover {
        text-decoration: none;
        color: #3456af;
    }

.ui-datepicker-prev {
    float: left;
}

.ui-datepicker-next {
    float: right;
}

.ui-datepicker-title {
    overflow: hidden;
    padding: 5px 0;
    text-align: center;
}

.ui-datepicker-calendar {
    border-collapse: collapse;
}

    .ui-datepicker-calendar th {
        padding: 6px;
        text-align: center;
        color: #999999;
        font-weight: normal;
    }

    .ui-datepicker-calendar td {
        text-align: center;
        width: 24px;
        padding: 6px;
        border: none;
        color: #212121;
    }

        .ui-datepicker-calendar td a {
            color: #212121;
        }

            .ui-datepicker-calendar td a:hover {
                text-decoration: none;
            }

        .ui-datepicker-calendar td.ui-datepicker-today {
            background: #e6e6e6;
            color: #212121;
        }

        .ui-datepicker-calendar td.ui-datepicker-current-day {
            background: #4d6bbc;
            color: #ffffff;
        }

            .ui-datepicker-calendar td.ui-datepicker-current-day a {
                color: #ffffff;
            }

        .ui-datepicker-calendar td.ui-datepicker-other-month,
        .ui-datepicker-calendar td.ui-datepicker-other-month a {
            color: #e6e6e6;
        }


.filtr_news input,.filtr_news select{border-radius: 0;    border: 1px solid #e6e6e6;    font-size: 14px;    box-shadow: none;}
.filtr_news label{    font-size: 14px;    color: #808080;    margin-bottom: 2px;    font-weight: normal;}

.reset:before {content: '\ed87';font-family: fontello;font-size: 20px;position: relative;top: 4px;    left: 15px;    color: #abadac;}

.boss img{max-width:100%;}

.contact_info h2{margin-top: 0;font-weight: bold;font-size: 24px;color: #262626;}
.contact_info_it {    font-size: 14px;}