@model MedicalServicesViewModel
<ul class="nav nav-pills tabs">
    @foreach (var item in Model.Nav)
    {
        string _class = (item.Alias == Model.Type) ? "class=active" : "";
        string _href = "/medicalservices";
        _href += (!String.IsNullOrEmpty(item.Alias)) ? "?type=" + item.Alias : "";
        <li @_class><a href="@_href">@item.Title</a></li>
    }
</ul>