@{
    Layout = "~/Areas/Admin/Views/Shared/_popUp.cshtml";
}
@model SiteMapMenu

<div class="form-group">
    @Html.LabelFor(m => m.Text, "Название")
    @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @required = "" })
    @Html.HiddenFor(m => m.Id)
</div>
<button type="submit" name="action" value="save-group-sitemapmenu" class="button icon-save">Сохранить</button>