@{
    Layout = null;
}

@*<h1>@Model.Title.ToString()</h1>
    <div>Ошибка @Model.HttpCode.ToString()</div>
    <div>@Model.Message</div>*@
<h1>Ошибка</h1>
<div>Ошибка 404</div>
<div>Страница не найдена</div>
