
/*ÐŸÑ€Ð°Ð²Ð°Ñ Ñ‡Ð°ÑÑ‚ÑŒ ÑÐºÑ€Ð¾Ð»Ð»Ð°*/
.compare-right {
	float:none;
	width: auto;
	position: relative;
}

/*Ð’ÐµÑˆÐ°ÐµÑ‚ Ð½Ð° Ð´Ð¸Ð², Ð½Ð° ÐºÐ¾Ñ‚Ð¾Ñ€Ð¾Ð¼ Ð´Ð¾Ð»Ð¶ÐµÐ½ Ð¿Ð¾ÑÐ²Ð¸Ñ‚ÑŒÑÑ Ð³Ð¾Ñ€Ð¸Ð·Ð¾Ð½Ñ‚Ð°Ð»ÑŒÐ½Ñ‹Ð¹ ÑÐºÑ€Ð¾Ð»*/
.compare-scroller{
	overflow-y: hidden;
	overflow-x: auto;
	position: relative;
}

/*Ð›ÐµÐ²Ð°Ñ, Ð½ÐµÑÐºÑ€Ð¾Ð»Ð»Ð¸Ñ€ÑƒÐµÐ¼Ð°Ñ Ñ‡Ð°ÑÑ‚ÑŒ*/
.compare-left{
}

/*Ð¡Ð²Ð¾Ð¹ÑÑ‚Ð²Ð° ÑÐºÑ€Ð¾Ð»Ð¸Ñ€ÑƒÐµÐ¼Ð¾Ð¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹*/
.compare-common .table-scrolled {
	table-layout: fixed;
	width: 100%;
}

/*Ð¨Ð¸Ñ€Ð¸Ð½Ð° ÑÑ‚Ð¾Ð»Ð±Ñ†Ð¾Ð² ÑÐºÑ€Ð¾Ð»Ð¸Ñ€ÑƒÐµÐ¼Ð¾Ð¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹*/
.compare-common .table-scrolled td, .compare-common .table-scrolled th {
	width: 279px;
}


/*Ð Ð¾Ð´Ð¸Ñ‚ÐµÐ»ÑŒÑÐºÐ¸Ð¹ ÑÐºÑ€Ð¾Ð»*/
.parent-scroller {
	
}

/*Ð¡ÐºÑ€Ð¾Ð» ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ð¹ Ð´Ð²Ð¸Ð³Ð°ÐµÑ‚ÑÑ Ð²ÑÐ»ÐµÐ´ Ð·Ð° Ñ€Ð¾Ð´Ð¸Ñ‚ÐµÐ»ÑÑŒÐºÐ¸Ð¼*/
.child-scroller {
	overflow-x: hidden  !important;
}




.compare-common .header {
	font-weight: bold;
	font-size: 17px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.compare-common .common {
	color: #0072C6 !important;
	background-color: #F7FAFC;
}


.compare-common .edu {
	color: #4CC0E2 !important;
	background-color: #EDF9FC;
}

.compare-common .stuff{
	color: #BBD036 !important;
	background-color: #F8FAEB;
}

.compare-common .add{
	color: #B976AF !important;
	background-color: #F8F1F7;
}


.compare-common .first {
	font-size: 14px;
	color: #999999;
	font-style: italic;
}

.compare-common .row {
	margin-left: 0px;
	margin-right: 0px;
}


.table-compare tr {
	height: 40px;
}




.table-compare {
	background-color: #FFF;
	margin-bottom: 0px;
}


.table-compare .header{
	font-weight: bold;
	font-size: 17px;

}

.table-compare  td {
	padding-top: 10px;
	padding-bottom: 10px;
}

.table-compare .common {
	color: #0072C6 !important;
	background-color: #F7FAFC;
}

.table-compare .edu {
	color: #4CC0E2 !important;
	background-color: #EDF9FC;
}

.table-compare .stuff {
	color: #BBD036 !important;
	background-color: #F8FAEB;
}


.table-compare .add {
	color: #B976AF !important;
	background-color: #F8F1F7;
}


.table-compare .first{
	font-size: 14px;
	color: #999999;
	font-style: italic;
}

.table-compare .collapse, .table-compare .collapsing {
	font-size: 14px;
}

.table-compare .title{

	background-color: #0072C6;
	color: #fff;
}

.table-compare .empty{
	background-color: #F7FAFC;
	height: 150px;
}


.table-compare .header{
	height: 140px;
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: middle;
	font-size: 16px;
	font-weight: normal;
	border-bottom: 0px;
}


.choose-compare-module{
	padding-left: 30px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
}

.choose-compare-module .module-item{
	margin-right: 20px;
	margin-left: 20px;
}

.choose-compare-module .number {
	color: #808080;
}

.choose-compare-module a{
	color: #000;
	text-decoration: none;
}

.choose-compare-module a{
	border-width: 0px;
	border-bottom-width: 2px;
	border-style: dotted;
	border-color: #0072C6;
}


.choose-compare-module .number.active {
	color: #0072C6;
}


.table-compare .close-button {
	position: absolute;
	margin-left: 46px;
	top: 14px;
}

.fix-backround {
	background-color:#F7FAFC;
}


.compare-common .collapse-header
{
	height: 34px;
	padding-top: 5px;
}