a {
	color: #0072C6
	text-decoration: underline;
}


/*Тип кавчек во всем документе*/
q {
 quotes: "\00ab" "\00bb"; 
}

/*Все болды сайта*/
b, strong {
    font-weight: bold !important;
}

/*Все италики сайта*/
em {
    color: #808080;
}

/*Вертикальное центрирование блока*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSans";
    src: url("../font/PTSansRegular/PTSansRegular.eot");
    src: url("../font/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../font/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../font/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
    font-family: "PTSans";
    src: url("../font/PTSansItalic/PTSansItalic.eot");
    src: url("../font/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../font/PTSansItalic/PTSansItalic.woff") format("woff"),
    url("../font/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSans";
    src: url("../font/PTSansBold/PTSansBold.eot");
    src: url("../font/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../font/PTSansBold/PTSansBold.woff") format("woff"),
    url("../font/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

body {
    background-color: #001626 !important;
}

body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: "PTSans" !important;
    /*font-size: 15px;*/
}

/*Иконка сердца*/
.heart-icon:hover {
    color: #B976AF !important;
}
/*Иконка бара*/
.bar-icon:hover {
    color: #0072C6 !important;
}
/*Пассивная иконка сердца*/
.passive-heart {
    color: #B3B3B3 !important;
}
/*Активная иконка сердца*/
.active-heart{
    color: #B976AF !important;
}


/*Серая иконка бара*/
.heart-icon{
    color: #B3B3B3;
}
/*Активная иконка юара*/
.bar-icon{
    color: #B3B3B3;
    /* font-size: 15px; */
    display: inline-block;
}
.bar-icon.active{
    color: #0072C6;
    /* font-size: 15px; */
}
.heart-icon.active{
    color: #B976AF;
}



/*Высота строки 70% для использутся в футере*/
.line-height-70{
    line-height: 70%;
}

/*Бэкграунд с картинкой*/
#background-layer-main {
    color: #FFF;
    height: 100%;
    background: url('../img/background.png') no-repeat fixed;
    background-size: cover;
    background-position: center;
}

/*Бэкгрунг с заливкой*/
#background-layer-list {
    color: #262626;
    background-color: #F5F5F5;
}


h1 {
    font-size: 42px;
    font-weight: bold;
}

h2{
    font-size: 24px;
    font-weight: bold;
}

h3{
    font-size: 18px;
    font-weight: bold;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 10px;
    margin-top: 10px;
}

.header-30{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}


/*Убирает все отспуы*/
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/*Убирает все отспуы*/
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.space {
    height: 200px;
}


.autocomplete-group{
    background-color: transparent;
    border-style: none;
}

.autocomplete-group .list-group-item {
    background-color: #000;
    border-style: none;
    /*z-index: 10;*/
}


.autocomplete-group .list-group-item a{
    color: #FFF;
}


.autocomplete-group .list-group-item:hover {
    background-color: #000;
    border-style: none;
    
}

.normal-bold{
    font-weight: normal !important;
}



