/*Ãâ€˜ÃÂ¾ÃÂºÃÂ¾ÃÂ²ÃÂ°Ã‘Â ÃÂ¿ÃÂ°ÃÂ½ÃÂµÃÂ»Ã‘Å’ Ã‘Æ’Ã‘â€¡Ã‘â‚¬ÃÂµÃÂ¶ÃÂ´ÃÂµÃÂ½ÃÂ¸Ã‘Â*/
/*Ãâ€œÃÂ»ÃÂ°ÃÂ²ÃÂ½ÃÂ°Ã‘Â ÃÂ¿ÃÂ°ÃÂ½ÃÂµÃÂ»Ã‘Å’*/
.institution-panel {
	/* padding-left: 30px; */
}

.institution-panel .flag {
	position: absolute;
	top: -10px;
}

.list-group-item {
	padding-left: 30px;
}

.institution-panel .header-block {
	height: 107px;
}

.institution-panel .text-block {
	padding-top: 15px;
	font-size: 14px;
}

.institution-panel .dotted-border {
	border-style: dotted;
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-right: 20px;
	border-color: #D9D9D9;
	border-width: 2px;
	border-radius: 10px;
	font-size: 15px;
	margin-bottom: 25px;
}

.text-block div {
	padding-bottom: 6px;
	padding-left: 15px;
}

.colored-icon {
	color: #BBD036;
}

.dotted-border  .icon-link {
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	border-color: #D9D9D9;
	color: #D9D9D9;
}


.btn-inst-panel {
	border-radius: 22px;
	background: transparent;
	border-width: 3px;
	border-style: solid;
	font-weight: bold;
	margin-bottom: 10px;
}

.btn-gray {
	color: #B3B3B3;
	border-color:  #B3B3B3;
}

.btn-gray:hover, .btn-gray.active{
	color:#4CC0E2;
	border-color: #4CC0E2;
}

.btn-purple{
	color: #B3B3B3;
	border-color:  #B3B3B3;
}

.btn-purple:hover, .btn-purple.active{
	color: #B976AF;
	border-color:  #B976AF;
}

.institution-panel .statistic-block {
	font-size: 17px;
}

.statistic-block .title-block {
	font-size: 30px;
	color: black !important;
}

.institution-panel .statistic-block .row div {
	color: #B3B3B3;
}

.institution-panel .director-block {

}

/*ÐžÑ‚ÑÑƒÐ¿Ñ‹ Ð¼ÐµÐ´Ð»Ñƒ Ð»Ð¸Ð½Ð¸ÑÐ¼Ð¸ ÐºÐ¾Ð½Ñ‚Ð°ÐºÑ‚Ð¾Ð²*/
.dotted-border .line {
	margin-bottom: 10px;
}

/*ÐžÐ±Ð²Ð¾Ð´ÐºÐ° Ð²Ð¾ÐºÑ€ÑƒÐ³ Ñ„Ð¾Ñ‚Ð¾Ð³Ñ€Ð°Ñ„Ð¸Ð¸ Ð´Ð¸Ñ€ÐµÐºÑ‚Ð¾Ñ€Ð°*/
.round-border {
	border-width: 6px;
	border-style: solid;
	border-color: #E6E6E6;
}

/*Ð’Ð½ÑƒÑ‚Ñ€ÐµÐ½Ð½Ð¸Ðµ Ð¾Ñ‚ÑÑƒÐ¿Ñ‹ Ð´Ð¸Ñ€ÐµÐºÑ‚Ð¾Ñ€-Ð±Ð»Ð¾ÐºÐ°*/
.director-block {
	padding-top: 10px;
	padding-bottom: 10px;
}




/*Ð’Ð½ÑƒÑ‚Ñ€ÐµÐ½Ð½Ð¸Ðµ Ð±Ð¾Ñ€Ð´ÐµÑ€Ñ‹ Ð±Ð»Ð¾ÐºÐ° ÑÑ‚Ð°Ñ‚Ð¸ÑÑ‚Ð¸ÐºÐ¸*/
.statistic-block  .border-right {
  border-right: 1px solid #ddd;
}
.statistic-block  .border-top {
  border-top: 1px solid #ddd;
}


.statistic-block .row .col-xs-6 {
	padding-top: 30px;
	padding-bottom: 30px;
}


